@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto slab",sans-serif;
}

.main_page{
    background-color: #1f2937;
}

#header_logo{
    font-size: 24px;
    color: #f9faf8;
}

.header_link{
    list-style: none;
    font-size: 18px;
    color: #e5e7e8;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}
.right_header, .left_header{
    display: flex;
    width: 50%;
    justify-content: center;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
     color: #f9faf8 ;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.content_right{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding:100px ;
    
}
.content_left{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
img{
    margin: 100px;
}
button{
    background-color: #3882f6;
    color:#e5e7e8;
    align-self: baseline;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}
 .box_row{
    display: flex;
 }

.box_msg{
border: 2px solid #3882f6;
width: 120px;
height:120px;
border-radius: 5px;
align-items: center;
}

.blue_box{
    display: flex;
    justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
   margin: 20px;
}

.information_text{
text-align: center;

}

.random_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.quote{
    background-color: #e5e7eb;
    text-align: center;
}
.thought{
    padding-top: 50px;
    font: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;

}
.author{
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
    padding: 30px;

}