@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto slab",sans-serif;
}

.main_page{
    background-color: #1f2937;
}

#header_logo{
    font-size: 24px;
    color: #f9faf8;
}

.header_link{
    list-style: none;
    font-size: 18px;
    color: #e5e7e8;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}
.right_header, .left_header{
    display: flex;
    width: 50%;
    justify-content: center;
}